.users {
    padding: 10px;
}

.leftContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    margin-right: 10px;
}

.buttons {
    width: 100%;
}

.buttons button {
    width: 100%;
    background-color: gold;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

.buttons .follow {
    background-color: gold;
}

.buttons .unfollow {
    opacity: 0.5;
}

.buttons button:active {
    opacity: 0.8;
}

.avatarBG {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-size: cover;
}

.user {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.user:last-child {
    margin-bottom: 0;
}

.rightContent {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
}

.innerLeft,
.innerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerRight {
    text-align: right;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.status {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.city {
    color: white;
}

.country {
    padding: 3px 5px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}