.wrapper {
    padding: 20px 0;
}

.wrapperMessenger {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.wrapperContent {
    max-width: 100%;
}


.wrapperMessenger h3 {
    color: var(--main-color);
}

.wrapperButton {
    max-width: 300px;
}

.wrapperButton button {
    width: 100%;
    min-height: 42px;
    display: block;
    border: 0;
    background-color: var(--accent-color);
    text-transform: uppercase;
    color: var(--main-bg);
    font-weight: 800;
    border-radius: 15px;
}

.posts {
    margin-top: 10px;
}
