.item {
    font-size: 18px;
    text-align: center;
    color: var(--main-color);
}

.item:nth-child(3n) {
    margin-right: 0;
}

.circle {
    margin: 0 auto;
    background-color: var(--main-bg);
    background-image: url("../../../assets/images/avatar.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: auto;
}