.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    grid-area: h;
    color: white;
    font-size: 30px;
    background-color: var(--header-bg);
}

.header img {
    width: 250px;
}

.loginBlock {
    padding: 5px;
}

.loginBlock a {
    color: inherit;
    text-decoration: none;
}

.loginBlock a:hover {
    color: white;
    text-decoration: underline;
}

.login {
    display: flex;
    align-items: center;
}

.login svg {
    margin-left: 20px;
}

.login svg:hover {
    cursor: pointer
}

