.wrapper {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.person {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
;
}

input[type=file]::-ms-browse {
    margin-right: 10px;
    padding: 20px;
    min-height: 42px;
    display: inline-block;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    background-color: transparent;
    background-image: url("../../../assets/images/camera-solid.svg");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 0;
    font-weight: 700;
    cursor: pointer;
    transition: all var(--default-transition);
}

input[type=file]::-webkit-file-upload-button {
    margin-right: 10px;
    padding: 20px;
    min-height: 42px;
    display: inline-block;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    background-color: transparent;
    background-image: url("../../../assets/images/camera-solid.svg");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 0;
    font-weight: 700;
    cursor: pointer;
    transition: all var(--default-transition);
}

input[type=file]::file-selector-button {
    margin-right: 10px;
    padding: 20px;
    min-height: 42px;
    display: inline-block;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    background-color: transparent;
    background-image: url("../../../assets/images/camera-solid.svg");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 0;
    font-weight: 700;
    cursor: pointer;
    transition: all var(--default-transition);
}

input[type=file]::-ms-browse:hover {
    background-color: var(--accent-color);
    background-image: url("../../../assets/images/camera-solid-hover.svg");
    border: 3px solid var(--accent-color);
}

input[type=file]::-webkit-file-upload-button:hover {
    background-color: var(--accent-color);
    background-image: url("../../../assets/images/camera-solid-hover.svg");
    border: 3px solid var(--accent-color);
}

input[type=file]::file-selector-button:hover {
    background-color: var(--accent-color);
    background-image: url("../../../assets/images/camera-solid-hover.svg");
    border: 3px solid var(--accent-color);
}


.status {
    padding: 20px;
    font-size: 18px;
    background-color: var(--main-bg);
}

.status p {
    margin: 0;
    min-height: 32px;
    line-height: 32px;
}

.status b {
    text-transform: uppercase;
}

.status input {
    padding: 5px;
    height: 20px;
    font-size: inherit;
    border: 1px solid var(--border-color);
}

.preview {
    margin-bottom: 10px;
}

.preview img {
    width: 100%;
}

.description {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.description h3 {
    margin: 0;
    color: var(--main-color);
    font-size: 25px;
}

.work svg {
    font-size: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}

.work {
    display: flex;
    align-items: center;
}

.photo {
    display: block;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.name {
    color: var(--accent-color);
    font-size: 21px;
}

.link {
    color: var(--text-color);
    transition: color var(--default-transition);
}

.link:hover {
    color: var(--accent-color);
}

.leftSide {
    margin-right: 20px;
}

.fileBlock {
    margin-top: 20px;
}

.editBtn button {
    width: 100%;
    min-height: 42px;
    display: block;
    border: 0;
    background-color: var(--accent-color);
    text-transform: uppercase;
    color: var(--main-bg);
    font-weight: 800;
    border-radius: 15px;
    transition: all var(--default-transition);
    cursor: pointer;
}

.editBtn button:hover {
    border: 3px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
}
