.wrapper {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.person {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.status {
    padding: 20px;
    font-size: 18px;
    background-color: var(--main-bg);
}

.status p {
    margin: 0;
    min-height: 32px;
    line-height: 32px;
}

.status b {
    text-transform: uppercase;
}

.status input {
    padding: 5px;
    height: 20px;
    font-size: inherit;
    border: 1px solid var(--border-color);
}

.preview {
    margin-bottom: 10px;
}

.preview img {
    width: 100%;
}

.description {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.description h3 {
    margin: 0;
    color: var(--main-color);
    font-size: 25px;
}

.work svg {
    font-size: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}

.work {
    display: flex;
    align-items: center;
}

.photo {
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.name {
    color: var(--accent-color);
    font-size: 21px;
}